.hero-title
{width: 285px;
    color: var(--blue-font, #0A224A);
    font-family: Playfair Display SC, serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: left;
}

.hero-title-t {width: 285px;
  color: var(--blue-font, #0A224A);
  font-family: Playfair Display, serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: left;}